.card{
    background-color: orchid;
    padding: 4%;
    margin:4%;
    text-align: center;
    height:100%;
}
p{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
table,th,td{
    border: 1px black solid;
    padding:6px;

}
td{
    text-align: left;
}
tr:hover{
    cursor: pointer;
    background-color:darkmagenta;
}
tr:nth-child(even) {
	background-color: lightgray;
}
